[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-jwt = "*"
djangorestframework = "==3.12.0"
pytest-drf = "*"
pytest-django = "*"
psycopg2-binary = "*"
mypy = "*"
flake8 = "*"
django-money = {extras = ["exchange"], version = "*"}
python-dotenv = "*"
drf-spectacular = "*"
django-filter = "*"
faker = "*"
mixer = "*"

[dev-packages]

[requires]
python_version = "3.8"
